@media screen and (min-width: 320px) and (max-width: 359px) {
  button {
    display: block;
    margin: auto;
  }

  header .logo {
    width: 150px;
    padding-left: 5px;
  }

  main {
    height: 400px;
  }

  main h1 {
    font-size: 1.2rem;
    padding-top: 25px;
  }

  main .subtitulo {
    margin: 15px 20px;
    text-align: justify;
  }

  main .passageiros {
    width: 270px;
  }

  article {
    margin: 40px 100px 30px 100px;
  }

  .section-one {
    flex-wrap: wrap;
  }

  .section-two {
    flex-wrap: wrap;
  }

  .section-three {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .block-one {
  }

  .block-one h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .block-one p {
    width: 300px;
  }

  .block-one button {
  }

  .block-two img {
    width: 200px;
    margin-top: 25px;
  }

  .section-two img {
    width: 200px;
    margin-bottom: 25px;
  }

  .section-two h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .section-two p {
    width: 300px;
    margin: 15px 0px;
  }

  .section-three h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .section-three p {
    width: 300px;
    margin: 15px 0px;
  }

  .section-three img {
    width: 200px;
  }

  .section-four h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .section-four p {
    width: 280px;
    text-align: justify;
    margin: 15px 0px;
  }

  .section-four img {
    width: 280px;
  }

  .section-four button {
    margin-bottom: 30px;
  }

  footer {
    display: none;
  }
}
